extends layout

block content
  .introduction
    .heading
      h1.grit
        | Minari 
        span Korean 
        | Foods
      h3 ALL YOU CAN EAT!

    div.bannersLeft
      a(href="/")
        .banner.banner1
      a(href="/")
        .banner.banner1

    div.bannersRight
      a(href="/")
        .banner.banner1
      a(href="/")
        .banner.banner1

  div.kFood--categories
    each catetory in h.categories
      div.kFood--categories__category
        a(href="/")
          img(src=("https://source.unsplash.com/200x200") alt=`${catetory.name}`)
          h5=catetory.title

  div.menuCarousel
    div(id="carouselMenuControls" class="carousel slide" data-bs-ride="carousel")
      div.carousel-inner
        div.carousel-item.active
          img(src=("https://source.unsplash.com/1060x640") class="d-block w-100" alt="...")
        div.carousel-item
          img(src=("https://source.unsplash.com/1060x640") class="d-block w-100" alt="...")
      button(class="carousel-control-prev" type="button" data-bs-target="#carouselMenuControls"  data-bs-slide="prev")
        span(class="carousel-control-prev-icon" aria-hidden="true")
        span(class="visually-hidden") Previous
      button(class="carousel-control-next" type="button" data-bs-target="#carouselMenuControls"  data-bs-slide="next")
        span(class="visually-hidden") Next
        span(class="carousel-control-next-icon" aria-hidden="true")

  div.mainDish
    div.itemOne
      img(src=("https://source.unsplash.com/300x150"))
      a(href="/")
        h5 littleTitle
      p Our Complete Collection of Soda bread recipes Say something more here brohhhhh
    div.itemTwo
      img(src=("https://source.unsplash.com/300x200"))
      a(href="/")
        h5 littleTitle
      p Our Complete Collection of Soda bread recipes Say something more here brohhhhh
    div.itemThree
      img(src=("https://source.unsplash.com/400x500") alt="picture with a person welcoming")
      a(href="/")
        h4 Here's What Irish People Actually Eat on St. Patricks Day
      p A greate vegateable side dis mad ewith bacone and sour ceram.
    div.itemFour
      h4 Most Popular
      div.dishes
        a(href="/")    
          div
            img(src=("https://source.unsplash.com/100x100"))
        a(href="/")    
          div
            p Conrned Beef and Cabbage Recipes
      div.dishes
        a(href="/")    
          div
            img(src=("https://source.unsplash.com/100x100"))
        a(href="/")    
          div
            p Conrned Beef and Cabbage Recipes
      div.dishes
        a(href="/")    
          div
            img(src=("https://source.unsplash.com/100x100"))
        a(href="/")    
          div
            p Conrned Beef and Cabbage Recipes
      div.dishes
        a(href="/")    
          div
            img(src=("https://source.unsplash.com/100x100"))
        a(href="/")    
          div
            p Conrned Beef and Cabbage Recipes

  div.mainDish
    div.itemFive
      img(src=("https://source.unsplash.com/800x600") alt="picture with a person welcoming")
      h4 Gerry's Easy Irish Stew
      p A greate vegatable side dish made with bacon and sour crea.
      h5 ⭐ ⭐ ⭐ ⭐ 4
        small by 
          a() cricrinapoli
    div.itemSix
      img(src=("https://source.unsplash.com/500x600") alt="picture with a person welcoming")
      h4 Gerry's Easy Irish Stew
      p A greate vegatable side dish made with bacon and sour crea.
      h5  ⭐ ⭐ ⭐ 3
        small by 
          a() cricrinapoli
    
  div.member
    div.member--posts
      each post in posts
        div.member--picture 
          img(src=`/uploads/${post.photo || 'post.png'}`)
          div.member--picture__text
            a(href=`/posts/${post.slug}`)
              h5 #{post.name.toUpperCase()} 
              p #{post.description || 'This is sample sentences This is sample sentences.'}
              br
              | ⭐⭐⭐⭐⭐ 5 by #{post.author || 'anonymous'} 
              br 
              small Posted: #{post.created || 'Some time ago'}