doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet' href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/coding-school.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body
    block header
      header
        nav.nav
          .nav__section
            li.nav__item
              a.nav__link(href="/", class=(currentPath.endsWith('/') ? 'nav__link--active' : '')) 홈
            each menu in h.menu
              li.nav__item
                a.nav__link(href=menu.slug, class=(currentPath.startsWith(menu.slug) ? 'nav__link--active' : '')) #{menu.title}
          .nav__section.nav__section--search
            .search
              input.search__input(type="text" placeholder="Search post" name="search")
              .search__results
          .nav__section.nav__section--user
            li.nav__item: a.nav__link(href="/add", class=(currentPath.endsWith('/add') ? 'nav__link--active' : '')) Add post
            if user
              li.nav__item: a.nav__link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__link--active' : '')) Log-out
              li.nav__item: a.nav__link(href="/account", class=(currentPath.startsWith('/account') ? 'nav__link--active' : '')) Account
            else
              li.nav__item: a.nav__link(href="/login", class=(currentPath.startsWith('/login') ? 'nav__link--active' : '')) Log-in
              li.nav__item: a.nav__link(href="/register", class=(currentPath.startsWith('/register') ? 'nav__link--active' : '')) Sign up
              
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block content
    block withMenu
    
    footer.footer
      .foot1

    block scripts
      script(src="/dist/App.bundle.js")
