extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${post.photo}`)
      h2.title.title--single
        a #{post.name}

  .single__details.inner
    p= post.description

    if post.tags
      ul.tags
        each tag in post.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text ##{tag}

    if user
      +reviewForm(post)

    if post.reviews
      .reviews
        each review in post.reviews
          .review
            +review(review)
