extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .inner
    .single
      .single__hero
        h2.title.title--single
          a #{post.name}
        img.single__image(src=`/uploads/${post.photo}`)
  
    .single__details
      .single__details--description
        h4 Posting
        p= post.description
  
      .single__details--tags
        if post.tags
          h5 Tags 🗂️
          ul.tags
            each tag in post.tags
              li.tag
                a.tag__link(href=`/tags/${tag}/page/1`)
                  span.tag__text ##{tag}

        if user
          .reviewForm
            +reviewForm(post)
        else
          .reviewForm
            h4
              a(href=`/login`) Log-In

        if post.reviews
          .reviews
            each review in post.reviews
              .review
                +review(review)
