extends layout

block content
  .inner
    h2 Top #{posts.length} Posts
    table.table
      thead
        td  photo
        td  ranking
        td  name
        td  reviews
        td  Average Rating
      each post, i in posts
        tr
          td
            a(href=`/posts/${post.slug}`)
              img(width=200 src=`/uploads/${post.photo || 'post.png'}` alt=post.name)
          td  #{i + 1}
          td: a(href=`/posts/${post.slug}`)= post.name
          td= post.reviews.length
          td #{Math.round(post.averageRating * 10) / 10} / 5