mixin postForm(post = {})
  form(action=`/add/${post._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    label(for="name") 제목
    input(type="text" name="name" value=post.name)
    label(for="description") 글
    textarea(name="description")= post.description
    //- Image Upload
    label(for="photo") 사진 한장
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if post.photo
        img(src=`/uploads/${post.photo}`, alt=post.name width=200)
    p 종류
    - const choices = ['재밋어요', '도움되요', '위로되요', '감동적이에요']
    - const tags = post.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="글 올리기" class="button")
