mixin tagPagination(page, pages, count)
  .pagination
    if  tag
      .pagination__prev
        if  page  > 1
          a(href=`/tags/${tag}/page/${page - 1}`) Prev
      .pagination__text
        p page #{page} of #{pages} - #{count} total results
      .pagination__next
        if page < pages
          a(href=`/tags/${tag}/page/${parseFloat(page) + 1}`) Next